
body{
    padding-bottom: 6rem;

}
.hide{
    display: none;
}
.ahover{
    color:#818182;!important;
}
.img-logo{
    height:50px;
    width:50px;
    margin-top:1px;
}
.fl{
    float:left;
}
.float-right{
    float:right;
}
.media-left, .media-right, .media-body{
    display: table-cell;
    vertical-align: top;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.ds-time{
    color: #999;
}
.border-line{
    border-bottom: 1px solid #cfcfcf;
}
.border-line-color{
    border-bottom: 2px solid #2AD980;
}
.custom-select-override {
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: auto auto;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -moz-appearance: none;
}
.margin-left-m{
    margin-left:15px;
}
.custom-file-input-{
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
}
