/* 让导航栏显示在整个界面底部 */
#playerId {
    position: fixed;
    bottom: 8.1%;
    left: 0;
    width: 100%;
    /*height: 93%;*/
    /*z-index: 800;*/ /* 为导航栏设置较高的 z-index，确保它在其他元素上层显示 */
}
/*.allPlayer{
    display: flex;
    flex-direction: column;
    height: 100%;
    //width: 100%;
}*/
#playerId_newPage{
    width: 100%;
   /* height:100%;*/
}
#playerId_newPage_Content {
    display: flex;
    width: 100%; /* 设置宽度，根据需要调整 */
    /*height: 100%;*/
    /*flex-grow: 1;*/ /* 填充剩余空间 */
    /*margin: 20px auto;*/ /* 设置边距，根据需要调整 */
    overflow-y: hidden; /* 隐藏垂直滚动条 */
   /* z-index: 1000;*/
}

#player_image {
    flex: 1;
    /*padding: 10px;*/
}

#player_song {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    max-height: 300px; /* 设置最大高度，根据需要调整 */
}

/* 歌词容器的样式 */
#lyrics-container {
    height: 300px; /* 设置歌词容器的高度，可以根据需要调整 */
    overflow-y: auto; /* 启用垂直滚动条 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px; /* 设置内层 div 的宽度，可以根据需要调整 */
}
.lyric-line {
    cursor: pointer;
    padding: 5px 0;
}
.lyric-line.hidden {
    display: none;
}
.lyric-line.highlight {
    color: #ff0000; /* 设置高亮时的文字颜色为红色，你可以根据需要修改颜色 */
    background-color: #adb5bd; /* 设置高亮时的背景颜色为黄色，你可以根据需要修改颜色 */
    font-weight: bold; /* 设置高亮时的文字加粗，你可以根据需要修改样式 */
}

/*.lyric-line.active {*/
/*color: white;  设置活动歌词的文本颜色为红色，你可以根据需要更改颜色 */
    /*font-weight: bold; /* 设置活动歌词的字体加粗 */
/*}*/
/* 修改滚动条的背景色为透明:使用 ::-webkit-scrollbar 相关的伪元素来选择滚动条的各个部分，将它们的 background-color 设置为透明。这里使用的是 WebKit 浏览器的私有样式，所以这些样式可能在不同浏览器中的兼容性存在差异 */
#lyrics-container::-webkit-scrollbar {
    background-color: transparent;
}

#lyrics-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#lyrics-container::-webkit-scrollbar-track {
    background-color: transparent;
}

/*分享的框*/
#shareModal {
    display: none;
    position: fixed;/*设置固定定位*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#overlay {
    display: none;
    position: fixed;/*设置固定定位*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);/*半透明的背景色*/
    z-index: 999;
}

#shareButton {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

#closeButton {
    cursor: pointer;
    color: #007bff;
    float: right;
}

#shareForm {
    margin-top: 10px;
}

#imageInput {
    margin-top: 10px;
}